<style>
  /* MSU Green accents */
.sidebar,
.side-bar {
  background-color: #FDF6EC !important;   /* creamy shade */
}



  :root{
    --color-accent: #18453B;
    --link-color:   #18453B;
    --btn-primary-color: #18453B;
  }

  /* Links */
  a, a:visited {
    color: #18453B !important;
    text-decoration-color: #18453B;
  }
  a:hover, a:focus {
    color: #0F2A24 !important;              /* darker MSU green on hover */
    text-decoration-color: #0F2A24;
  }
  a:active { color: #0B1D19 !important; }

  h1, h2, h3, h4, h5, h6 { color: #18453B !important; }
  .nav-list .nav-list-item .nav-list-link.active {
    color: #18453B !important; font-weight: 700;
  }
</style>
